extends layout

block content
  h1= title
  p Driver Licence #: #{dlNum}
  p First Name: #{fname}
  p Last Name: #{lname}
  p Expiration Date: #{expirationDate}
  p Date of Birth: #{dob}
  p Issue Date: #{issueDate}
  p Sex: #{sex}
  p Address: #{address}, #{city}, #{province}
  
  
